---
import { getCollection, render } from "astro:content";
import Layout from "@/layout/Layout.astro";
import { parseDate, formatDateInChile } from "@/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => {
    return data.hide !== true;
  });
  const PostsLength = posts.length;
  return posts
    .sort(
      (a, b) =>
        parseDate(b.data.date).getTime() - parseDate(a.data.date).getTime(),
    )
    .map((post, i) => {
      return {
        params: { post: post.id },
        props: {
          post,
          prevPost: i + 1 === PostsLength ? null : posts[i + 1],
          nextPost: i === 0 ? null : posts[i - 1],
        },
      };
    });
}

const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);

const date = post.data.date.slice(0, 10);
const postDate = parseDate(date);
const longMonth = formatDateInChile(postDate, { month: "long" });
const day = formatDateInChile(postDate, { day: "numeric" });
const year = formatDateInChile(postDate, { year: "numeric" });
---

<Layout title={post.data.title}>
  <header class="lateral-spacing mt-20 md:mt-32 mb-12 md:mb-18 font-sans">
    <h1
      class="text-3xl md:text-5xl font-display text-pretty leading-[130%] md:leading-tight pr-6"
    >
      {post.data.title}
    </h1>
    <p class="opacity-50 text-xs md:text-sm mt-4 md:mt-7 leading-snug">
      {day} de <span class="capitalize">{longMonth}</span> de
      {year}
      <br />
    </p>
    {
      post.data.tags && (
        <p class="text-xs md:text-sm opacity-50 leading-snug">
          {post.data.tags.map((tag, i) => (
            <span class={i === 0 ? "capitalize" : ""}>
              {i + 1 === post.data.tags.length ? tag : tag + ", "}
            </span>
          ))}
        </p>
      )
    }
  </header>
  <section class="lateral-spacing">
    <div class="prose post">
      <Content />
    </div>
  </section>

  <!-- Next / Prev post navigation -->
  <section class="lateral-spacing mt-18 md:mt-24">
    <hr class="w-full border-zinc-200 dark:border-zinc-800" />
    {
      nextPost && (
        <div class="mt-8">
          <p class="mb-0.5 md:mb-1 opacity-40 font-sans text-xs md:text-sm">
            Siguiente
          </p>
          <a
            href={`/posts/${nextPost.id}`}
            class="text-sm md:text-base font-sans tracking-tight page-link underline underline-offset-[0.2em] decoration-[0.05em] text-zinc-600 decoration-zinc-400 hover:decoration-zinc-900 dark:text-zinc-300 dark:hover:decoration-zinc-200 transition-all ease-out duration-200"
          >
            {nextPost.data.title}
          </a>
        </div>
      )
    }
    {
      prevPost && (
        <div class="mt-8">
          <p class="mb-0.5 opacity-40 font-sans text-xs md:text-sm">Anterior</p>
          <a
            href={`/posts/${prevPost.id}`}
            class="text-sm md:text-base font-sans tracking-tight page-link underline underline-offset-[0.2em] decoration-[0.05em] text-zinc-600 decoration-zinc-400 hover:decoration-zinc-900 dark:text-zinc-300 dark:hover:decoration-zinc-200 transition-all ease-out duration-200"
          >
            {prevPost.data.title}
          </a>
        </div>
      )
    }
  </section>
</Layout>
