---
import { getPublishedPostsByYear } from "@/utils";
import Layout from "@/layout/Layout.astro";

const allPosts = await getPublishedPostsByYear();
---

<Layout>
  <header class="lateral-spacing mt-20 md:mt-40 mb-14 md:mb-20">
    <p class="mb-1 md:mb-2 opacity-50 font-sans">Archivo</p>
    <h1 class="text-3xl md:text-5xl font-display">Todos los posts</h1>
  </header>

  <section class="lateral-spacing">
    <div>
      {
        Object.keys(allPosts)
          .sort((yearA, yearB) => (yearA < yearB ? 1 : -1))
          .map((year) => (
            <div class="grid grid-3 md:gap-0 md:flex mb-8 md:mb-10 lg:mb-12 last:mb-0">
              <h2 class="md:w-2/7 font-semibold mb-3 md:mb-0">{year}</h2>
              <div class="md:w-5/7 grid gap-2">
                {allPosts[year]
                  .sort((dateA, dateB) => (dateA < dateB ? 1 : -1))
                  .map((post) => {
                    const date = post.date.slice(0, 10);
                    const [_, month, day] = date.split("-");
                    return (
                      <a
                        href={`/posts/${post.slug}`}
                        class="flex items-start group"
                      >
                        <span class="w-1/6 font-serif italic tracking-tight text-sm mt-0.5 md:mt-1 opacity-50">
                          {day}/{month}
                        </span>
                        <span class="w-5/6 font-sans tracking-tight underline underline-offset-6 decoration-dashed decoration-zinc-400 dark:decoration-zinc-500 group-hover:decoration-transparent">
                          {post.title}
                        </span>
                      </a>
                    );
                  })}
              </div>
            </div>
          ))
      }
    </div>
  </section>
</Layout>
