---
import { getPublishedPostsByYear, parseDate, formatDateInChile } from "@/utils";
import Layout from "@/layout/Layout.astro";

const allPosts = await getPublishedPostsByYear();
const allPostsLength = Object.keys(allPosts).reduce((acc, year) => {
  return acc + allPosts[year].length;
}, 0);
---

<Layout
  title="Todos los posts"
  description="Todos los posts publicados en el sitio web"
>
  <header
    class="lateral-spacing mt-20 md:mt-32 mb-14 md:mb-20 flex justify-between items-end"
  >
    <div>
      <p class="text-sm md:text-base mb-2.5 md:mb-4 opacity-50 font-sans">
        Archivo
      </p>
      <h1 class="text-3xl md:text-5xl font-display">Todos los posts</h1>
    </div>
    <span class="text-xs md:text-sm opacity-50 font-sans">
      (<span class="italic">{allPostsLength}</span> posts)
    </span>
  </header>

  <section class="lateral-spacing">
    <div>
      {
        Object.keys(allPosts)
          .sort((yearA, yearB) => (yearA < yearB ? 1 : -1))
          .map((year) => (
            <div class="mb-10 md:mb-12 lg:mb-14 last:mb-0">
              <h2 class="font-semibold mb-5 text-base md:text-lg">{year}</h2>
              <div class="grid gap-4 md:gap-5">
                {allPosts[year]
                  .sort((dateA, dateB) => (dateA < dateB ? 1 : -1))
                  .map((post) => {
                    const date = post.date.slice(0, 10);
                    const postDate = parseDate(date);
                    const longMonth = formatDateInChile(postDate, {
                      month: "long",
                    });
                    const day = formatDateInChile(postDate, { day: "numeric" });
                    return (
                      <a
                        href={`/posts/${post.slug}`}
                        class="showcase-link group items-center truncate w-full font-sans"
                      >
                        <p class="title text-zinc-900 dark:text-zinc-300 underline underline-offset-[0.2em] decoration-[0.05em] decoration-zinc-300 dark:decoration-zinc-500 group-hover:decoration-zinc-900 dark:group-hover:decoration-zinc-200 transition-all ease-out duration-200 overflow-hidden inline truncate">
                          {post.title}
                        </p>
                        <p class="date opacity-40 text-xs md:text-sm">
                          {day} de <span class="capitalize">{longMonth}</span> -{" "}
                          {post.tags && (
                            <span class="text-xs md:text-sm">
                              {post.tags.map((tag, i) => (
                                <span>
                                  {i + 1 === post.tags.length
                                    ? tag
                                    : tag + ", "}
                                </span>
                              ))}
                            </span>
                          )}
                        </p>
                      </a>
                    );
                  })}
              </div>
            </div>
          ))
      }
    </div>
  </section>
</Layout>
