---
import { Image } from "astro:assets";
import Layout from "../layout/Layout.astro";
import { getPublishedPosts } from "@/utils";
import meImage from "@/assets/images/avatar.webp";

const allPosts = await getPublishedPosts();
---

<Layout>
  <!-- Presentation -->
  <section
    class="lateral-spacing mt-20 md:mt-40 mb-14 md:mb-18 grid gap-6 md:gap-30 md:grid-flow-col md:items-center"
  >
    <Image
      src={meImage}
      alt="Avatar de Juan Berrios"
      loading="eager"
      class="w-10 md:w-12 h-10 md:h-12 rounded-full object-contain"
    />
    <p class="prose">
      Este es el sitio web de <i>Juan Berrios</i>, un patio de juegos
      minimalista donde publico, experimento y comparto cosas.
    </p>
  </section>

  <Image
    src="https://storage.juanberrios.com/new_back.webp"
    alt="imagen"
    loading="eager"
    inferSize
    class="w-full aspect-[16/12] md:aspect-video object-cover"
  />

  <!-- Mini Bio -->
  <section class="lateral-spacing grid gap-3 md:gap-0 md:flex my-14 md:my-20">
    <h2 class="font-semibold md:w-2/6">Sobre mi</h2>
    <div class="grid gap-4 md:w-4/6">
      <p class="prose">
        Soy un hombre <i>esencialmente cristiano</i>, diseñador y desarrollador
        frontend autodidacta. Vivo en Curicó, una pequeña ciudad a dos horas al
        sur de Santiago de Chile. Estoy casado con <i>@iamthejean</i> y soy padre
        de una hermosa pequeña.
      </p>
      <p class="prose">
        Me gusta el té, una <i>rara</i> variedad musical, la rara estación entre
        la primavera y el verano y la armonía entre la vida de región y la ciudad.
      </p>
    </div>
  </section>

  <!-- Últimos posts -->
  <section class="lateral-spacing grid gap-3 md:gap-0 md:flex mt-14 md:mt-20">
    <h2 class="font-semibold md:w-2/6">Últimos posts</h2>
    <div class="w-full md:w-4/6">
      <div class="grid gap-1 md:gap-1.5 mb-5">
        {
          allPosts.map((post) => {
            const date = post.date.slice(0, 10);
            const [year, month, day] = date.split("-");
            return (
              <a
                href={`/posts/${post.slug}`}
                class="flex items-start showcase-link"
              >
                <span class="date w-2/7 font-serif italic mt-0.5 tracking-tight opacity-50">
                  {day}/{month}/{year}
                </span>
                <span class="title w-5/7 font-sans tracking-tight ">
                  {post.title}
                </span>
              </a>
            );
          })
        }
      </div>
      <a class="font-sans font-semibold tracking-tight page-link" href="/posts"
        >Todos los posts</a
      >
    </div>
  </section>
</Layout>
