---
import { Image } from "astro:assets";
import Layout from "../layout/Layout.astro";
import { getPublishedPosts, parseDate, formatDateInChile } from "@/utils";
import meImage from "@/assets/images/avatar.webp";

const allPosts = await getPublishedPosts();
---

<Layout>
  <!-- Presentation -->
  <section
    class="lateral-spacing mt-20 md:mt-40 mb-14 md:mb-18 grid gap-6 md:gap-0 md:flex items-start"
  >
    <div class="md:w-2/6">
      <Image
        src={meImage}
        alt="Avatar de Juan Berrios"
        loading="eager"
        class="w-10 md:w-12 h-10 md:h-12 rounded-full object-contain"
      />
    </div>
    <p class="prose md:w-4/6">
      Este es el sitio web de <i>Juan Berrios</i>, un espacio personal
      minimalista para compartir mis pensamientos, gustos y experimentos
      digitales.
    </p>
  </section>

  <!-- <Image
    src="https://storage.juanberrios.com/new_back.webp"
    alt="imagen"
    loading="eager"
    inferSize
    class="w-full aspect-[16/12] md:aspect-video object-cover"
  /> -->

  <!-- Mini Bio -->
  <section class="lateral-spacing grid gap-3 md:gap-0 md:flex my-14 md:my-20">
    <h2 class="font-semibold md:w-2/6">Sobre mi</h2>
    <div class="grid gap-4 md:w-4/6">
      <p class="prose">
        Soy un hombre <i>esencialmente cristiano</i>, diseñador y desarrollador
        frontend autodidacta. Vivo en Curicó, una pequeña ciudad a dos horas al
        sur de Santiago de Chile. Estoy casado con <i>@iamthejean</i> y soy padre
        de una hermosa pequeña.
      </p>
      <p class="prose">
        Me gusta el té, una <i>rara</i> variedad musical, la rara estación entre
        la primavera y el verano y la armonía entre la vida de región y la ciudad.
      </p>
    </div>
  </section>

  <!-- Últimos posts -->
  <section class="lateral-spacing grid gap-3 md:gap-0 md:flex mt-14 md:mt-20">
    <h2 class="font-semibold md:w-2/6">Últimos posts</h2>
    <div class="w-full md:w-4/6">
      <div class="grid gap-1 md:gap-1.5 mb-5">
        {
          allPosts.map((post) => {
            const date = post.date.slice(0, 10);
            const postDate = parseDate(date);
            const month = formatDateInChile(postDate, { month: "long" });
            const day = formatDateInChile(postDate, { day: "numeric" });
            return (
              <a
                href={`/posts/${post.slug}`}
                class="flex showcase-link gap-3 items-center font-sans tracking-tight truncate w-full"
              >
                <span class="title overflow-hidden inline truncate">
                  {post.title}
                </span>
                <span class="date opacity-40 text-xs md:text-sm mt-0.5">
                  {day} de <span class="capitalize">{month}</span>
                </span>
              </a>
            );
          })
        }
      </div>
      <a class="font-sans font-semibold tracking-tight page-link" href="/posts"
        >Todos los posts</a
      >
    </div>
  </section>
</Layout>
