---
import { SITE } from "../../src/config";
import type { SEOProps } from "../@types";

const currentPath = Astro.url.pathname;
const { title, description, ogImage } = Astro.props as SEOProps;

const defaultPageData = {
  title: title ? `${title} — ${SITE.name}` : SITE.name,
  description: description ? description : SITE.description,
  canonical: new URL(currentPath, Astro.url),
  socialImageURL: ogImage
    ? new URL(ogImage.src, Astro.url)
    : new URL(SITE.ogImage, Astro.url),
  copyrightText: SITE.copyright ? SITE.copyright : null,
  twitterUsername: SITE.twitterUsername ? SITE.twitterUsername : null,
  twitterDomain: SITE.twitterDomain ? SITE.twitterDomain : null,
};
---

<meta property="og:type" content="website" />
<title>
  {defaultPageData.title}
</title>
<meta property="og:title" content={defaultPageData.title} />
<meta name="twitter:title" content={defaultPageData.title} />
<meta itemprop="name" content={defaultPageData.title} />

<meta name="description" content={defaultPageData.description} />
<meta property="og:description" content={defaultPageData.description} />
<meta name="twitter:description" content={defaultPageData.description} />
<meta itemprop="description" content={defaultPageData.description} />

<link rel="canonical" href={defaultPageData.canonical.href} />
<meta property="og:url" content={defaultPageData.canonical.href} />
<meta name="twitter:url" content={defaultPageData.canonical.href} />

<meta property="og:image" content={defaultPageData.socialImageURL} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />
<meta name="twitter:image" content={defaultPageData.socialImageURL} />
<meta itemprop="image" content={defaultPageData.socialImageURL} />

<meta name="robots" content="index, follow, noarchive, max-snippet:150" />

{
  defaultPageData.copyrightText && (
    <meta name="copyright" content={defaultPageData.copyrightText} />
  )
}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
{
  defaultPageData.twitterDomain && (
    <meta name="twitter:domain" content={defaultPageData.twitterDomain} />
  )
}
{
  defaultPageData.twitterUsername && (
    <>
      <meta name="twitter:site" content={defaultPageData.twitterUsername} />
      <meta name="twitter:creator" content={defaultPageData.twitterUsername} />
    </>
  )
}
